<h1>Subjects</h1>

<style>
    input,select,textarea
    {
     padding: 5px;
     margin: 3px;
    }
</style>   

<div>
    <form asp-controller="Student" asp-action ="Index" method ="post">
        <input type="text" name ="studentName" placeholder="Enter name"/><br>
        <input type="text" name ="studentEmail" placeholder="Enter email"/><br>
        <input type="text" name ="studentNumber" placeholder="Enter student number"/><br>
        <select name="subject">
            <option value="math">Math</option>
            <option value="science">Science</option>
            <option value="english">English</option>
        </select><br>
        <textarea type ="text" name="studentDetails"></textarea><br>
        <button type ="submit">Submit</button>
    </form>
</div>
